# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files
# database files
database_setup/

#python venv
classroom_finder/w

# dependencies
node_modules/

# Expo
.expo/
.expo-shared/
dist/
web-build/
expo-env.d.ts

# Native
*.orig.*
*.jks
*.p8
*.p12
*.mobileprovision

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
.Trash/
.CFUserTextEncoding
*.pem

# local env files
.env*.local

# typescript
*.tsbuildinfo

app-example

api/.env
api/.venv
api/__pycache__